/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

section h2 {
    margin-top: 0;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}  */

html {
    font-size: 22px;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}